@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bgcolor: #f1f5fd;
    --primary-color: #6f5de7;
    --text-color: #828286;
    --heading-color: #333333;
    --white-color: #fff;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

p {
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

/* ---------------------------- Navbar css start ---------------------------- */

.navbar-bg {
    background-color: var(--bgcolor);
    padding: 2rem 0rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 500;
}

.navbar li {
    padding: 0rem 2rem;
}

.navbar li a {
    font-size: 1.5rem;
    font-weight: 400;
    transition: all 0.3s ease-in;
}

.navbar li a:hover {
    color: var(--primary-color) !important;
    font-weight: 400;
    text-shadow: 0 0.2rem 0.3rem rgb(113, 94, 232, 0.5);
}

.nav-btn {
    width: 11rem;
    height: 4rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transition: all 0.3s ease-in;
}

.nav-btn:first-child {
    margin-right: 2rem;
}

.nav-btn-style {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.nav-btn:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
    box-shadow: 0 0.3rem 0.4rem rgb(113, 94, 232, 0.5);
}

.nav-btn-style:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--bgcolor);
    box-shadow: 0 0.3rem 0.4rem rgb(113, 94, 232, 0.5);
}

/* ---------------------------- Header css start ---------------------------- */

header {
    background-color: var(--bgcolor);
}

.main-hero {
    height: 100vh;
}


.header-left-side h1 {
    font-size: 3.2rem;
    font-weight: bolder;
}

.header-left-side p {
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 3rem 0 5rem 0;
    width: 75%;
}

.header-left-side h3 {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
}

.input-group {
    position: relative !important;
}

.form-control-text {
    position: absolute;
    height: 5rem;
    border: none;
    outline-style: none;
    padding-left: 1.5rem !important;
    font-size: 1.4rem;
    font-weight: lighter;
}

.input-group-button {
    position: absolute;
    right: 51%;
    top: 0.5rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    height: 4rem;
    width: 15%;
    border-radius: 2rem !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.input-group-button:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
}

.header-right-side {
    position: relative;
}

.heroimg1 {
    width: 60%;
    height: 70%;
    margin-top: 5rem;
    margin-left: 10rem;
    box-shadow: 0rem 0.6rem 0.6rem rgba(0, 0, 0, 0.20);
    border-radius: 1.5rem;
    position: relative;
}

.heroimg2 {
    position: absolute;
    border-radius: 1.5rem;
    width: 50%;
    height: 30%;
    left: 55%;
    top: 2%;
    box-shadow: 0.6rem 0rem 0.6rem rgba(0, 0, 0, 0.20);
}

/* ---------------------------- How it Work section css start ---------------------------- */

.work-container {
    width: 80vw;
    padding: 5rem;
    background-color: var(--white-color);
    box-shadow: 0rem 0.4rem 1.2rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    margin-top: -5rem;
}

.main-heading {
    font-size: 2.5rem;
    font-weight: bolder;
    word-spacing: 1rem;
    margin-bottom: 4rem;
}

.work-inner-div {
    padding: 0 6rem;
}

.sub-heading {
    font-size: 1.8rem;
    font-weight: normal;
}

.icon-style {
    font-size: 1.8rem;
    color: var(--primary-color);
    background-color: var(--bgcolor);
    width: 6rem;
    height: 6rem;
    margin: 2rem auto;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.main-para {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    color: var(--text-color);
}

/* ---------------------------- About Us section css start ---------------------------- */

.about-section {
    margin: 5rem 0;
}

.about-left-side img {
    width: 40%;
    height: 75%;
    margin-top: 10rem;
    box-shadow: 0rem 0.6rem 0.6rem rgba(0, 0, 0, 0.20);
    border-radius: 1.5rem;
}

.about-right-side h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 3rem 0;
    text-align: left;
}

.aboutUS {
    margin-top: 4rem;
}

.about-number {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 50%;
}

.about-info {
    padding-left: 2rem;
}

.about-info p {
    margin: 1rem 0;
    font-size: 1.3rem;
}

/* about us second part css start  */

.aboutus-second-left-side {
    padding-left: 8rem;
    margin-top: 5rem;
}


.aboutus-second-left-side h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 3rem 0;
    text-align: left;
}

.aboutus-second-right-side img {
    width: 40%;
    height: 75%;
    margin-top: 10rem;
    box-shadow: 0rem 0.6rem 0.6rem rgba(0, 0, 0, 0.20);
    border-radius: 1.5rem;
}

/* ---------------------------- Services section css start ---------------------------- */

.service-container {
    margin-top: 5rem;
    padding: 5rem 0;
}

.services-box {
    padding: 3rem 5rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.16);
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.services-box:hover {
    background-color: var(--bgcolor);
}

.services-box:hover .icon-style {
    background-color: var(--white-color);
}

.services-box i {
    text-align: left;
    margin: 2rem 0;
}

@media (min-width: 1400px) {
    .service-container .col-xxl-4 {
        flex: 0 0 auto;
        width: 30% !important;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .service-container .col-lg-4 {
        flex: 0 0 auto;
        width: 30% !important;
        margin: 2.5rem auto;
    }
}

/* ---------------------------- Contact section css start ---------------------------- */

.contact-section {
    margin: 15rem 0;
}

.contact-left-side p {
    font-size: 1.5rem;
}

.contact-left-side img {
    min-width: 80%;
    max-height: 30rem;
    height: auto;
    border-radius: 1.5rem;
    box-shadow: 0rem 0.6rem 0.6rem rgba(0, 0, 0, 0.20);
}

.contact-input-feild {
    margin-bottom: 4rem;
}

.contact-input-feild .form-control {
    border: 1px solid #ced4da;
    height: 5rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 1.6rem;
    font-weight: lighter;
}

.check-box-style {
    margin-bottom: 4rem;
}

.form-check-input {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.check-box-style .main-para {
    margin: 0;
    font-size: 1.5rem;
    font-weight: lighter;
    width: 75%;
    padding: 0 2rem;
}

/* ---------------------------- Footer section css start ---------------------------- */

.footer-section {
    padding: 5rem 0;
    background-color: #182334;
    color: var(--white-color);
}

.footer-section h2 {
    color: var(--white-color);
}

.footer-section li {
    list-style: none;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 1rem 0;
    cursor: pointer;
}

.footer-section .icon-style {
    color: var(--primary-color);
    background-color: transparent;
    width: 0;
    height: 0;
    font-size: 2.3rem;
    margin: 2rem 0;
    transition: all 0.3s linear;
    cursor: pointer;
}

.footer-section .icon-style:hover {
    animation: rotatefont 1s linear infinite alternate-reverse;
    color: var(--white-color);
}

@keyframes rotatefont {
    0% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1.2);
    }
}

.footer-section .main-para {
    margin: 0;
    color: var(--white-color);
    font-size: 1.5rem;
}

/* ---------------------------- Error 404 css start ---------------------------- */

#notfound {
    position: relative;
    height: 90vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 920px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.notfound .notfound-404 {
    position: absolute;
    height: 100px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: "Maven Pro", sans-serif;
    color: #ececec;
    font-weight: 900;
    font-size: 276px;
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound h2 {
    font-family: "Maven Pro", sans-serif;
    font-size: 46px;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0px;
}

.notfound p {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
}

.notfound a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #189cf0;
    display: inline-block;
    padding: 16px 38px;
    border: 2px solid transparent;
    border-radius: 40px;
    color: #fff;
    font-weight: 400;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    background-color: #fff;
    border-color: #189cf0;
    color: #189cf0;
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
        font-size: 162px;
    }

    .notfound h2 {
        font-size: 26px;
    }
}

/* ---------------------------- Responsive css start ---------------------------- */


@media(max-width: 998px) {

    .navbar .navbar-collapse {
        margin-top: 1rem;
        background-color: var(--white-color);
        padding: 2rem 1rem;
        border-radius: 1.5rem;
    }

    .nav-btn {
        font-size: 1.3rem;
    }

    /* header css start */

    .header-left-side h1 {
        font-size: 2.5rem;
    }

    .header-left-side p {
        width: 100%;
    }

    .main-hero .header-left-side {
        padding-left: 4rem;
        margin-top: 1rem;
    }

    .header-right-side {
        position: relative;
        height: 25rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .header-right-side img {
        width: 60%;
        height: 100%;
        margin-top: 0;
    }

    .header-right-side .heroimg1 {
        margin-left: 3rem;
    }

    .header-right-side .heroimg2 {
        position: absolute;
        width: 40%;
        height: 35%;
        top: -6%;
        left: 50%;
        box-shadow: 0.6rem 0 0.6rem rgba(0 0 0 / 25%);
    }

    .input-group-button {
        font-size: 1.3rem;
        right: 26%;
        width: 30%;
    }

    .form-control-text {
        min-width: 27.5rem;
    }

    /* how dose it work css start */

    .work-container {
        width: 80vw;
        padding: 5rem 1rem;
    }

    .work-container .main-heading {
        font-size: 2.7rem;
        margin-bottom: 3rem;
        word-spacing: 0rem;
    }

    .work-inner-div {
        padding: 0rem;
    }

    /* about css  */

    .about-left-side img {
        margin-top: 5rem;
    }

    .about-right-side {
        padding-left: 3rem;
    }

    .aboutus-second-left-side {
        padding-left: 3rem;
    }

    .aboutus-second-right-side img {
        margin: 5rem 12rem;
    }

    .services-box {
        margin: 1.5rem auto;
    }

    /* contact css */

    .contact-section {
        margin: 5rem 0;
    }

    .contact-left-side{
        padding-left: 2rem;
        padding-bottom: 4rem;
    }

    .check-box-style .main-para{
        width: 100%;
    }

    .check-box-style{
        display: flex;
    }
}